doctype html
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")
	title Drive
	link(rel="icon", type="image/x-icon", href="#{path}images/favicon.ico")
	block css
body(data-path="#{path}")
	include ../common/main-nav
	block main
	include ../common/footer
	script(src="#{path}scripts/min/app.js")
	block scripts