$base-spacing: 1.5em !default;
$footer-bg-color: #D5485A !default;
$medium-screen: em(640) !default;
$large-screen: em(860) !default;
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

.footer {

  background-color: $footer-bg-color;
  margin-bottom: -1rem;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-content {
    @include outer-container;
    @include clearfix;

    .footer-logo {
      margin-right: 1em;
      margin-bottom: 1em;
      @include span-columns(2);

      @include media($large-screen) {
        @include span-columns(1);
      }

      .icon-speed > svg {
        height: 2rem;
        width: 2rem;
        margin-top: .5rem;
      }

    }

    ul {
      line-height: 1.5em;
      margin: 0 0 1em 0;
      padding: 0;
      @include span-columns(10);

      @include media($large-screen) {
        line-height: 1.8em;
        margin-bottom: 0;
        @include span-columns(11);
      }

    }

    ul li {
      list-style: none;
      padding-right: 1em;
      line-height: 1.8;
      vertical-align: middle;

      @include media($large-screen) {
        display: inline;
        text-align: left;
        line-height: 3;
      }
    }

    ul li a {
      color: $footer-link-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: transparentize($footer-color, 0);
      }
    }

    .footer-secondary-links {
      @include media($large-screen) {
        float: right;
      }

      li {
        font-size: 0.8em;
      }

      ul.footer-social {
        margin: 1em 0 0 0;

        @include media($large-screen) {
          float: right;
          margin-top: 0;
        }

        li {
          font-size: 1em;
          float: left;
          line-height: 0;
          margin: 0;
          padding-right: 0.7em;

          &:last-child {
            padding-right: 0;
          }
        }

        img {
          height: 1.6em;
          opacity: 0.7;
          padding: 1px;

          &:focus,
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}