.hero {
	$base-border-radius: 3px !default;
	$action-color: #477DCA !default;
	$large-screen: em(860) !default;
	$hero-background-top: #0ABFBC;
	$hero-background-bottom: #FC354C;
	$hero-color: white;
	$gradient-angle: 45deg;
	$hero-image: '../../images/mountains.png';

	@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	background-color: #324766;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.hero-logo img {
		height: 4em;
		margin-bottom: 1em;
	}

	.hero-title {

		@include outer-container;
		@include clearfix;

		max-width: 20rem;

		.icon-config {

			@include span-columns(4);

			> svg {
				height: 3rem;

				.icon-background { fill: rgba(#f9f9f9, .1); }
				.icon-sliders-outline { fill: rgba(#f9f9f9, .1); }
				.icon-sliders-shadow { fill: rgba(#111, .4); }
				.icon-sliders-fill { fill: rgba(#111, .4); }
				.icon-handles-shadow { fill: rgba(#111, .4); }
				.icon-handles-corners { fill: rgba(#111, .4); }
				.icon-handles-fill { fill: rgba(#f9f9f9, .1); }
			}
		}

		h1 {

			@include span-columns(8);

			color: $hero-color;
			font-size: 1.6em;
			line-height: 1.8;
			margin-bottom: 0.5em;

			@include media($large-screen) {
				font-size: 1.8em;
			}
		}

	}

	.hero-inner {
		@include outer-container;
		@include clearfix;
		margin: auto;
		padding: 3.5em;

		.hero-copy {

			text-align: center;
			margin: 0 auto;
			max-width: 20rem;

			p {
				color: $hero-color;
				line-height: 1.4em;
				margin: 0 auto;

				@include media($large-screen) {
					font-size: 1.1em;
				}
			}
		}
	}
}