extend layouts/default
block css
	link(rel="stylesheet", href="#{path}styles/min/home.css")
block main
	.hero
		.hero-inner
			.hero-title
				.icon-config(data-grunticon-embed)
				h1 Data Driver
			.hero-copy
				p
					| A grunt-webdriver extension for writing data-driven Selenium tests with simple JavaScript data structures.
	.section--light
		.section--container
			.flex-boxes
				.flex-box.flex-box-code
					h2.flex-title Selenium tests without complicated code
					p
						| Datadriver delivers the WebdriverIO API in easy-to-swallow data structures. Your tests follow a logical
						| step sequence of objects, arrays, and key-value pairs.
					pre.language-javascript.line-numbers
						code
							| 'use strict';
							| <br>
							| var drive = require('datadriver');
							| <br>
							| drive.go({
							|   "config": {
							|     "description": "Duck Duck Go Test",
							|     "suites": [
							|       {
							|         "description": "Search for DataDriver.io",
							|         "tests": ["duck-duck-go"],
							|         "viewports": { small: true }
							|       }
							|     ]
							|   },
							| <br>
							|   "duck-duck-go": {
							|     "steps": [
							|       {
							|         "selector": "#search_form_input_homepage",
							|         "execute": [
							|           {
							|             "action": "type",
							|             "text": "Datadriver.io"
							|           }
							|         ]
							|       },
							|       {
							|         "selector": "#search_button_homepage",
							|         "execute": [
							|           {
							|             "action": "click"
							|           }
							|         ],
							|         "verify": [
							|           {
							|             "method": "verifyPageTitle",
							|             "asserts": {
							|               "title": "Datadriver.io at DuckDuckGo"
							|             }
							|           }
							|         ]
							|       }
							|     ]
							|   }
							| });