extend layouts/default
block css
	link(rel="stylesheet", href="#{path}styles/min/home.css")
block main
	.hero
		.hero-inner
			.hero-title
				.icon-config(data-grunticon-embed)
				h1 Data Driver
			.hero-copy
				p
					| A grunt-webdriver extension for writing data-driven Selenium tests with simple JavaScript data structures.
	.section--light
		.section--container
			.flex-boxes
				.flex-box
					.icon-browser(data-grunticon-embed)
					h2.flex-title Selenium tests without complicated code
					p
						| Datadriver delivers the <a href="http://webdriver.io">WebdriverIO</a> API in easy-to-swallow data
						| structures. Your tests follow a logical step sequence of objects, arrays, and key-value pairs.
				.flex-box
					.icon-bulb(data-grunticon-embed)
					h2.flex-title Enable non-developers to do more in less time
					p
						| Datadriver was built for the non-developer. There's no complicated logic, just simple declarative steps.
						| Datadriver will transform those steps to actual tests executed in a browser.
	.section--light
		.section--container
			.flex-boxes
				.flex-box.border-gray
					h2.flex-title Example test
					p
						| This is an example of a simple test built with datadriver. Just give a quick look-over right now, we'll
						| give you the working code in the <a href="quick-start.html">Quick Start</a> section.
					pre.language-javascript.line-numbers
						code
							| 'use strict';
							| <br>
							| var drive = require('datadriver');
							| <br>
							| drive.go({
							| <br>
							|   "config": {
							|     "description": "Duck Duck Go Test",
							|     "suites": [
							|       {
							|         "description": "Search for DataDriver.io",
							|         "tests": ["duck-duck-go"],
							|         "viewports": { small: true }
							|       }
							|     ]
							|   },
							| <br>
							|   "duck-duck-go": {
							|     "steps": [
							|       {
							|         "selector": "#search_form_input_homepage",
							|         "execute": [{ "action": "type", "text": "Datadriver.io" }]
							|       },
							|       {
							|         "selector": "#search_button_homepage",
							|         "execute": [{ "action": "click" }],
							|       },
							|       {
							|         "verify": [
							|           {
							|             "method": "verifyPageTitle",
							|             "asserts": { "title": "Datadriver.io at DuckDuckGo" }
							|           }
							|         ]
							|       }
							|     ]
							|   }
							| <br>
							| });
					hr
					h2.flex-title Run it
					pre.language-bash.line-numbers
						code
							| grunt webdriver --url=http://duckduckgo.com