extend layouts/default

block css
	link(rel="stylesheet", href="#{path}styles/min/home.css")

block main
	.hero
		.hero-inner
			.hero-title
				.icon-config(data-grunticon-embed)
				h1 Data Driver
			.hero-copy
				p
					| A grunt-webdriver extension for writing data-driven Selenium tests with simple JavaScript data structures.