extend layouts/default

block css
	link(rel="stylesheet", href="#{path}styles/min/home.css")

block main
	.hero
		.hero-inner
			.hero-title
				.icon-config(data-grunticon-embed)
				h1 Data Driver
			.hero-copy
				p
					| A grunt-webdriver extension for writing data-driven Selenium tests with simple JavaScript data structures.
	.section--light
		.section--container
			.flex-boxes
				.flex-box.flex-code
					h1.flex-title Arbitrary viewports
					p
						| Data driver extends the functionality of <a href="https://github.com/webdriverio/grunt-webdriver">
						| grunt-webdriver</a>. You can declare any breakpoint you need to use in your tests.
				.flex-box.flex-code
					pre.language-javascript.line-numbers
						code
							| webdriver: {
							|   options: {
							|     desiredCapabilities: {
							|       browserName: 'chrome',
							|       name: 'Documentation Tests',
							|       viewports: {
							|         small: {
							|           width: 430,
							|           height: 1000
							|         },
							|         medium: {
							|           width: 700,
							|           height: 1000
							|         },
							|         large: {
							|           width: 1280,
							|           height: 1000
							|         }
							|       }
							|     }
							|   }
							| }
			hr