extend ../layouts/nested-1
block css
	link(rel="stylesheet", href="../#{path}styles/min/api.css")
block main
	h2.flex-title executeAction()
	.flash-notice
		span Be advised that the name of this function could possibly change.
	p
		| The <code>executeAction()</code> method doesn't do a whole lot on its own. The method takes a single object
		| with a particular structure and runs it. For example:
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.executeAction({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "http://google.com"
			|   }
			| });
	p
		| When you run this file, the output will look something like this (this test would run against
		| <code>localhost</code> since we don't pass a <code>--url</code> option here):
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:actions
			| Running "webdriver:actions" (webdriver) task
			| <br>
			| ⚙ redirecting to http://google.com.
			| <br>
			| 0 passing
	p
		| You probably won't need to ever call this function directly, and we would actually recommend <i>not</i> calling
		| this directly unless you have a specialized use case.