extend ../../layouts/nested-2
block main
	h2.flex-title verifyCount()
	p
		| The <b>verifyCount()</b> method is a nice convenience to easily count all the elements that match a given
		| selector and return an aggregate count. It utilizes the <a href="http://webdriver.io/api/protocol/elements.html">
		| elements() method</a> on WebdriverIO. Let's see how we might use this method in a test.
	.element-area
		input.test(type="text", placeholder="input 1")
		input.test(type="text", placeholder="input 2")
		input.test(type="text", placeholder="input 3")
		input.test(type="text", placeholder="input 4")
		input.test(type="text", placeholder="input 5")
		pre.language-markup.line-numbers
			code
				| &lt;input class="test" type="text" placeholder="input 1" /&gt;
				| &lt;input class="test" type="text" placeholder="input 2" /&gt;
				| &lt;input class="test" type="text" placeholder="input 3" /&gt;
				| &lt;input class="test" type="text" placeholder="input 4" /&gt;
				| &lt;input class="test" type="text" placeholder="input 5" /&gt;
	p Given the five inputs above, here is how we can write our test.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verify({
			| <br>
			|   "steps": [
			|     {
			|       "execute": [
			|         {
			|           "action": "redirect",
			|           "page": "api/verify/verifyCount.html"
			|         }
			|       ]
			|     },
			|     {
			|       "selector": "input.test",
			|       "verify": [
			|         {
			|           "method": "verifyCount",
			|           "asserts": {
			|             "count": 5
			|           }
			|         }
			|       ]
			|     }
			|   ]
			| <br>
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:verify --url=http://datadriver.io
			| Running "datadriver:verify" (datadriver) task
			| <br>
			| ⚙ redirecting to http://datadriver.io/api/verify/verifyCount.html
			| ✓ the number of "input.test" elements on the page should equal "5"
			| <br>
			| 1 passing
	hr
	h2.flex-title Calling verifyCount() directly
	p
		| You can also call <code>verifyCount()</code> directly in your tests for even more granularity. The
		| method takes an object with four keys.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verifyCount({
			|   selector: 'input.test',
			|   assertKey: 'count',
			|   assert: 5,
			|   mode: [ 'equal' ]
			| });