extend ../../layouts/nested-2
block main
	h2.flex-title verifyUrl()
	p
		| The <code>verifyUrl()</code> method maps directly to the <a href="http://webdriver.io/api/protocol/url.html">
		| url() method</a> in WebdriverIO. This method allows you to easily verify what url you're currently on.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verify({
			| <br>
			|   "steps": [
			|     {
			|       "execute": [
			|         {
			|           "action": "redirect",
			|           "page": "api/verify/verifyUrl.html"
			|         }
			|       ]
			|     },
			|     {
			|       "verify": [
			|         {
			|           "method": "verifyUrl",
			|           "asserts": {
			|             "url": drive.getBaseUrl() + "api/verify/verifyUrl.html"
			|           }
			|         }
			|       ]
			|     }
			|   ]
			| <br>
			| });
	p And our expected test output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:verify --url=http://datadriver.io
			| Running "datadriver:verify" (datadriver) task
			| <br>
			| ⚙ redirecting to http://datadriver.io/api/verify/verifyUrl.html
			| ✓ the "url" of this page is should equal "http://datadriver.io/api/verify/verifyUrl.html"
			| <br>
			| 1 passing
	hr
	h2.flex-title Calling verifyUrl() directly
	p
		| You can also call <code>verifyUrl()</code> directly in your tests for even more granularity. The
		| method takes an object with four keys.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verifyUrl({
			|   selector: 'window',
			|   assertKey: 'url',
			|   assert: drive.getBaseUrl() + "api/verify/verifyUrl.html",
			|   mode: [ 'equal' ]
			| });