extend ../../layouts/nested-2
block main
	h2.flex-title verifyScriptResult()
	p
		| The <code>verifyScriptResult()</code> method serves a specialized use case. You can run a piece of JavaScript
		| in your test and verify the result. We'll illustrate how to use this method by writing a test for a dropdown
		| menu. We're going to write a test that verifies the menu is initially hidden, then clicking the button and
		| verifying that the dropdown menu appears below the button, then clicking once more to verify the dropdown is
		| once again hidden.
	.element-area
		.dropdown
			.dropdown-container
				p.dropdown-description Description
				p.dropdown-button Click to Select
				ul.dropdown-menu.dropdown-select
					li Dropdown Menu Item
					li Another Item
					li Item Three
					li The Last One
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verify({
			| <br>
			|   "steps": [
			|     {
			|       "execute": [
			|         {
			|           "action": "redirect",
			|           "page": "api/verify/verifyScriptResult.html"
			|         }
			|       ]
			|     },
			|     {
			|       "selector": ".dropdown-menu",
			|       "verify": [
			|         {
			|           "method": "verifyCssProperty",
			|           "asserts": {
			|             "display": "none"
			|           }
			|         }
			|       ]
			|     },
			|     {
			|       "selector": ".dropdown-button",
			|       "execute": [{ "action": "click" }]
			|     },
			|     {
			|       "selector": ".dropdown-menu",
			|       "verify": [
			|         {
			|           "method": "verifyCssProperty",
			|           "asserts": {
			|             "display": "block"
			|           }
			|         }
			|       ]
			|     },
			|     {
			|       "selector": "return document.querySelector('.dropdown-button').offsetTop < document.querySelector('.dropdown-menu').offsetTop",
			|       "verify": [
			|         {
			|           "method": "verifyScriptResult",
			|           "asserts": {
			|             "result": true
			|           }
			|         }
			|       ]
			|     },
			|     {
			|       "selector": ".dropdown-button",
			|       "execute": [{ "action": "click" }]
			|     },
			|     {
			|       "selector": ".dropdown-menu",
			|       "verify": [
			|         {
			|           "method": "verifyCssProperty",
			|           "asserts": {
			|             "display": "none"
			|           }
			|         }
			|       ]
			|     }
			|   ]
			| <br>
			| });
	p
		| With the <code>verifyScriptResult()</code> method, our <code>selector</code> key is actually the script we want
		| to execute. You can execute almost any script as long as it returns a result. However, this is just us being
		| honest, trying to execute full blown functions might prove problematic.
	hr
	h2.flex-title Calling verifyScriptResult() directly
	p
		| You can also call <code>verifyScriptResult()</code> directly in your tests for even more granularity. The
		| method takes an object with four keys. Here's an example of how to call the method.
	pre.language-javascript.line-numbers
		code
			| drive.execute({
			|   "selector": ".dropdown-button",
			|   "execute": { "action": "click" }
			| });
			| <br>
			| drive.verifyScriptResult({
			|   selector: 'return document.querySelector(\'.dropdown-button\').offsetTop < document.querySelector(\'.dropdown-menu\').offsetTop',
			|	  assertKey: 'result',
			|   assert: true,
			|   mode: [ 'equal' ]
			| });