extend ../../layouts/nested-2
block main
	h2.flex-title verifyText()
	p
		| The <code>verifyText()</code> method maps directly to the <a href="http://webdriver.io/api/property/getText.html">
		| getText() method</a> in WebdriverIO. This method allows you to easily verify the text content of a DOM element
		| returned by a selector.
	.element-area
		p#poem Our Father who art in heaven, I am drunk.<br>Again. Red wine. For which I offer thanks.
		pre.language-markup.line-numbers
			code
				| &lt;p id="poem"&gt;Our Father who art in heaven, I am drunk.&lt;br&gt;
				| Again. Red wine. For which I offer thanks.&lt;/p&gt;
		p
			small from <a href="http://www.poetryfoundation.org/poem/178478">Praying Drunk</a> by Andrew Hudgins
	p And here is what our test could look like:
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verify({
			| <br>
			|   "steps": [
			|     {
			|       "execute": [
			|         {
			|           "action": "redirect",
			|           "page": "api/verify/verifyText.html"
			|         }
			|       ]
			|     },
			|     {
			|       "selector": "#poem",
			|       "verify": [
			|         {
			|           "method": "verifyText",
			|           "asserts": {
			|             "text": "Our Father who art in heaven, I am drunk.\nAgain. Red wine. For which I offer thanks."
			|           }
			|         }
			|       ]
			|     }
			|   ]
			| <br>
			| });
	p And our expected test output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:verify --url=http://datadriver.io
			| Running "datadriver:verify" (datadriver) task
			| <br>
			| ⚙ redirecting to http://datadriver.io/api/verify/verifyText.html
			| ✓ the "#poem" element's text should equal "Our Father who art in heaven, I am drunk.
			| Again. Red wine. For which I offer thanks."
			| <br>
			| 1 passing
	hr
	h2.flexTitle Calling verifyText() directly
	p
		| You can also call <code>verifyText()</code> directly in your tests for even more granularity. The
		| method takes an object with four keys.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verifyText({
			|   selector: '#poem',
			|   assertKey: 'text',
			|   assert: 'Our Father who art in heaven, I am drunk.\nAgain. Red wine. For which I offer thanks.',
			|   mode: [ 'equal' ]
			| });