pre.language-bash.line-numbers
	code
		| $ grunt webdriver:home --url=http://duckduckgo.com
		| Running "webdriver:home" (webdriver) task
		| Duck Duck Go Test
		|   Rendered in a small viewport
		|     Search for DataDriver.io
		|       ⚙ executing "setValue" on "#search_form_input_homepage".
		|       ⚙ clicking the "#search_button_homepage" element.
		|       ✓ the "title" of this page should equal "Datadriver.io at DuckDuckGo"
		| <br>
		| 1 passing (3s)