.api-sidebar
	h3 Methods
	ul
		li
			a(href="/api/executeAction.html") executeAction()
		li
			a(href="/api/getBaseUrl.html") getBaseUrl()
		li
			a(href="/api/go.html") go()
		li
			a(href="/api/setup.html") setup()
		li
			a(href="/api/verify.html") verify()
	h3 Verify steps
	ul
		li
			a(href="/api/verifyCssProperty.html") verifyCssProperty
		li
			a(href="/api/verifyCssPropertyAgainstStorage.html") verifyCssPropertyAgainstStorage
		li
			a(href="/api/verifyState.html") verifyState
		li
			a(href="/api/verifyText.html") verifyText
		li
			a(href="/api/verifyAttribute.html") verifyAttribute
		li
			a(href="/api/verifyUrl.html") verifyUrl
		li
			a(href="/api/verifyPageTitle.html") verifyPageTitle
		li
			a(href="/api/verifyCount.html") verifyCount
		li
			a(href="/api/verifyScriptResult.html") verifyScriptResult
	h3 Execute actions
	ul
		li
			a(href="/api/executeType.html") type
		li
			a(href="/api/executeRefresh.html") refresh
		li
			a(href="/api/executePause.html") pause
		li
			a(href="/api/executeHover.html") hover
		li
			a(href="/api/executeClick.html") click
		li
			a(href="/api/executeRedirect.html") redirect
		li
			a(href="/api/executeEval.html") eval
		li
			a(href="/api/executeEvalAndStore.html") evalAndStore
		li
			a(href="/api/executeSendKeystroke.html") sendKeystroke
		li
			a(href="/api/executeButtonUp.html") buttonUp
		li
			a(href="/api/executeButtonDown.html") buttonDown
		li
			a(href="/api/executeButtonUp.html") buttonUp
		li
			a(href="/api/executeButtonUp.html") buttonUp
		li
			a(href="/api/executeMoveTo.html") moveTo
		li
			a(href="/api/executeSetCookie.html") setCookie
		li
			a(href="/api/executeDeleteCookie.html") deleteCookie
		li
			a(href="/api/executeNewWindow.html") newWindow
	h3 Extras
	ul
		li
			a(href="/api/assert-modes.html") Assert modes
		li
			a(href="/api/browser-properties.html") Browser-specific properties