.api-sidebar
	h3 Methods
	ul
		li
			a(href="/api/methods/execute.html") execute()
		li
			a(href="/api/methods/getBaseUrl.html") getBaseUrl()
		li
			a(href="/api/methods/go.html") go()
		li
			a(href="/api/methods/setup.html") setup()
		li
			a(href="/api/methods/verify.html") verify()
	h3 Verify
	ul
		li
			a(href="/api/verify/verifyAttribute.html") verifyAttribute
		li
			a(href="/api/verify/verifyCssProperty.html") verifyCssProperty
		li
			a(href="/api/verify/verifyStoredCssProperty.html") verifyStoredCssProperty
		li
			a(href="/api/verify/verifyCount.html") verifyCount
		li
			a(href="/api/verify/verifyPageTitle.html") verifyPageTitle
		li
			a(href="/api/verify/verifyScriptResult.html") verifyScriptResult
		li
			a(href="/api/verify/verifyState.html") verifyState
		li
			a(href="/api/verify/verifyText.html") verifyText
		li
			a(href="/api/verify/verifyUrl.html") verifyUrl
	h3 Execute
	ul
		li
			a(href="/api/execute/buttonDown.html") buttonDown
		li
			a(href="/api/execute/buttonUp.html") buttonUp
		li
			a(href="/api/execute/click.html") click
		li
			a(href="/api/execute/deleteCookie.html") deleteCookie
		li
			a(href="/api/execute/eval.html") eval
		li
			a(href="/api/execute/evalAndStore.html") evalAndStore
		li
			a(href="/api/execute/hover.html") hover
		li
			a(href="/api/execute/moveTo.html") moveTo
		li
			a(href="/api/execute/newWindow.html") newWindow
		li
			a(href="/api/execute/pause.html") pause
		li
			a(href="/api/execute/redirect.html") redirect
		li
			a(href="/api/execute/refresh.html") refresh
		li
			a(href="/api/execute/sendKeystroke.html") sendKeystroke
		li
			a(href="/api/execute/setCookie.html") setCookie
		li
			a(href="/api/execute/setViewportSize.html") setViewportSize
		li
			a(href="/api/execute/type.html") type
	h3 Extras
	ul
		li
			a(href="/api/extras/assert-modes.html") Assert modes
		li
			a(href="/api/extras/browser-properties.html") Browser-specific properties
		//li
			a(href="/api/extras/advanced-verification-steps.html") Advanced verification steps
	//h3 Examples
	//ul
		li
			a(href="/api/examples/using-localstorage.html") Using LocalStorage
		li
			a(href="/api/examples/creating-flow-helpers.html") Creating flow helpers
		li
			a(href="/api/examples/abstracted-test-runners.html") Abstracted test runners
		li
			a(href="/api/examples/testing-dynamic-css-values.html") Testing dynamic CSS values
		li
			a(href="/apa/examples/using-common-assertions.html") Using common assertions