footer.footer(role='contentinfo')
	.footer-content
		a.footer-logo(href="/")
			.icon-speed(data-grunticon-embed)
		ul
			li
				a(href="/quick-start.html") Quick Start
			li
				a(href="/api/index.html") API
			li
				a(href="https://github.com/zdfs/datadriver") Github
			li
				a(a href="/about.html") About