header.centered-navigation(role='banner')
	.centered-navigation-wrapper
		a.mobile-logo
			.icon-logo(data-grunticon-embed)
		a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu MENU
		nav(role='navigation')
			ul#js-centered-navigation-menu.centered-navigation-menu.show
				li.nav-link
					a Products
				li.nav-link
					a About Us
				li.nav-link
					a Contact
				li.nav-link.logo
					a.logo
						.icon-logo(data-grunticon-embed)
				li.nav-link
					a Testimonials
				li.nav-link.more
					a More
					ul.submenu
						li
							a Submenu Item
						li
							a Another Item
						li.more
							a Item with submenu
							ul.submenu
								li
									a Sub-submenu Item
								li
									a Another Item
						li.more
							a Another submenu
							ul.submenu
								li
									a Sub-submenu
								li
									a An Item
				li.nav-link
					a Sign up