@import
	"global",
	"../refills/main-nav",
	"../refills/flex-boxes",
	"../refills/footer";

@font-face {
	font-family: 'sonos-logoregular';
	src: url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.eot');
	src: url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.svg#sonos-logoregular') format('svg'),
			 url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.woff2') format('woff2'),
			 url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.woff') format('woff'),
			 url('//static.sonos.com/v2/live/fonts/logo/sonos-logo-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.sonos-logo {
	font-family: 'sonos-logoregular', 'Helvetica', Arial, sans-serif;
	font-size: 2rem;
	color: #333;
	display: inline-block;
	letter-spacing: .25rem;
	margin-bottom: 1rem;

	&:hover,
	&:active,
	&:focus { color: #333; }

}