@import
	"global",
	"prism",
	"../refills/main-nav",
	"../refills/flex-boxes",
	"../refills/flash",
	"../refills/sidebar",
	"../refills/footer";

.element-area {
	margin: 2rem 0;
	border: 1px solid #DDD;
	background: #EEE;
	padding: 1rem;
}