.icon-airplane { background-image: url('png/airplane.png'); background-repeat: no-repeat; }

.icon-bank { background-image: url('png/bank.png'); background-repeat: no-repeat; }

.icon-beacon { background-image: url('png/beacon.png'); background-repeat: no-repeat; }

.icon-beats { background-image: url('png/beats.png'); background-repeat: no-repeat; }

.icon-bell { background-image: url('png/bell.png'); background-repeat: no-repeat; }

.icon-bicycle { background-image: url('png/bicycle.png'); background-repeat: no-repeat; }

.icon-box { background-image: url('png/box.png'); background-repeat: no-repeat; }

.icon-browser { background-image: url('png/browser.png'); background-repeat: no-repeat; }

.icon-bulb { background-image: url('png/bulb.png'); background-repeat: no-repeat; }

.icon-casino { background-image: url('png/casino.png'); background-repeat: no-repeat; }

.icon-chair { background-image: url('png/chair.png'); background-repeat: no-repeat; }

.icon-config { background-image: url('png/config.png'); background-repeat: no-repeat; }

.icon-cup { background-image: url('png/cup.png'); background-repeat: no-repeat; }

.icon-folder { background-image: url('png/folder.png'); background-repeat: no-repeat; }

.icon-football { background-image: url('png/football.png'); background-repeat: no-repeat; }

.icon-headphones { background-image: url('png/headphones.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-laptop { background-image: url('png/laptop.png'); background-repeat: no-repeat; }

.icon-letter { background-image: url('png/letter.png'); background-repeat: no-repeat; }

.icon-like { background-image: url('png/like.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon-medal { background-image: url('png/medal.png'); background-repeat: no-repeat; }

.icon-mic { background-image: url('png/mic.png'); background-repeat: no-repeat; }

.icon-milk { background-image: url('png/milk.png'); background-repeat: no-repeat; }

.icon-pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

.icon-picture { background-image: url('png/picture.png'); background-repeat: no-repeat; }

.icon-polaroid { background-image: url('png/polaroid.png'); background-repeat: no-repeat; }

.icon-printer { background-image: url('png/printer.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-shopping bag { background-image: url('png/shopping bag.png'); background-repeat: no-repeat; }

.icon-speed { background-image: url('png/speed.png'); background-repeat: no-repeat; }

.icon-stopwatch { background-image: url('png/stopwatch.png'); background-repeat: no-repeat; }

.icon-tactics { background-image: url('png/tactics.png'); background-repeat: no-repeat; }

.icon-tweet { background-image: url('png/tweet.png'); background-repeat: no-repeat; }

.icon-watch { background-image: url('png/watch.png'); background-repeat: no-repeat; }

