extend ../../layouts/nested-2
block main
	h2.flex-title getBaseUrl()
	p
		| When you run a test from the command line, like this for example:
	pre.language-bash.line-numbers
		code
			| grunt webdriver --url=http://duckduckgo.com
	p
		| You're passing the url you want your tests to begin from to the <code>getBaseUrl()</code> function, which is
		| exposed to you for use within your tests. Let's look at our DuckDuckGo example again, but this time, we're going
		| to have the test go to the <code>/about</code> page and verify that a logo exists.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.go({
			| <br>
			|   "config": {
			|     "description": "Duck Duck Go Test",
			|     "url": "about",
			|     "suites": [
			|       {
			|         "description": "Verify DuckDuckGo logo",
			|         "tests": ["duck-duck-go-about"],
			|         "viewports": { large: true }
			|       }
			|     ]
			|   },
			| <br>
			|   "duck-duck-go-about": {
			|     "steps": [
			|       {
			|         "selector": ".timeline__logo",
			|         "verify": [
			|           {
			|             "method": "verifyAttribute",
			|             "asserts": {
			|               "src": drive.getBaseUrl() + "assets/dax-alt.svg"
			|             }
			|           }
			|         ]
			|       }
			|     ]
			|   }
			| <br>
			| });
	p When I run the script from the command line:
	pre.language-bash.line-numbers
		code
			| grunt webdriver --url=https://duckduckgo.com
	p
		| I get the following output.
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:duckduckgo --url=https://duckduckgo.com
			| Running "webdriver:duckduckgo" (webdriver) task
			| Duck Duck Go Test
			|   Rendered in a large viewport
			|     Verify DuckDuckGo logo
			|       ✓ the "src" attribute of ".timeline__logo" should equal "https://duckduckgo.com/assets/dax-alt.svg"
			| <br>
			| 1 passing
	hr
	h2 Some things to note
	p
		| When you look at the <code>config</code> object of the test above, you'll notice that there is a new
		| <code>url</code> key. Since the url we're looking for is <code>https://duckduckgo/about</code>, all we need to
		| pass to the config is a simple string, <code>"about"</code>. Datadriver automatically gives you the base url,
		| which to reiterate, is only the url you passed in via the command line with the <code>--url</code> option.
		| The <code>getBaseUrl()</code> method will always return a url with a <code>/</code> at the end.
	hr
	p
		| The second thing you can do with <code>getBaseUrl()</code> is using the method in an actual test. When we test
		| for the <code>src</code> attribute of an <code>img</code>, like we did above, Selenium is always going to return
		| an absolute url. If we want to match it exactly (which is the default mode for our assertions), we can use
		| <code>getBaseUrl()</code> to do exactly that. You can see an example of that in the test written out above.
	hr
	p
		| If you don't use the <code>--url</code> option from the command line, we assume that you're trying to find a
		| local development server, so we default <code>getBaseUrl()</code> to <code>http://localhost:3000</code>.