extend ../../layouts/nested-2
block main
	h2.flex-title Assert Modes
	p
		| Most of the time, the default assertion mode of <code>equal</code> is going to be all you need for a decent test.
		| But there are many more use-cases where a strict equal assertion isn't going to work. Maybe you're testing for a
		| value that needs to be above <code>2</code>. How do you write a test for that?
	p Simple. You can change the assertion mode. Let's see what this might look like.
	.element-area
		.grid
			.grid--third
				p hello!
			.grid--third
				p ¡hola!
			.grid--third
				p bonjour!
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.verify({
			| <br>
			|   "steps": [
			|     {
			|       "execute": [
			|         {
			|           "action": "redirect",
			|           "page": "api/extras/assert-modes.html"
			|         }
			|       ]
			|     },
			|     {
			|       "selector": ".grid--third",
			|       "verify": [
			|         {
			|           "method": "verifyCount",
			|           "assert-mode": "be above",
			|           "asserts": {
			|             "count": 2
			|           }
			|         }
			|       ]
			|     }
			|   ]
			| <br>
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:verify --url=http://datadriver.io
			| Running "webdriver:verify" (webdriver) task
			| <br>
			| ⚙ redirecting to http://datadriver.io/api/extras/assert-modes.html
			| ✓ the number of ".grid--third" elements on the page should to be above "2"
			| <br>
			| 1 passing
	p
		| Your assertion modes correspond to most of the <a href="http://chaijs.com/api/bdd/">ChaiJS</a> API. We use the
		| <code>should</code> interface, so the assertion mode in the above example reads "should be above".
	p
		| We don't support the ChaiJS API perfectly, but we do support a lot where it makes sense for our declarative
		| syntax.