extend ../../layouts/nested-2
block main
	h2.flex-title click()
	p
		| The <code>click()</code> method maps directly to
		| <a href="http://webdriver.io/api/action/click.html">click() method</a> on WebdriverIO. Let's see
		| how we would execute this command on the button below.
	.element-area
		a#button1.button Hi!
		pre.language-markup.line-numbers
			code
				| &lt;a id="button1" class="button"&gt;Hi!&lt;/a&gt;
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			|	drive.execute({
			|	  "execute": {
			|	    "action": "redirect",
			|	    "page": "api/execute/click.html"
			|	  }
			|	});
			| <br>
			| drive.execute({
			|   "selector": "#button1",
			|   "execute": {
			|     "action": "click"
			|   }
			| });
	p And this is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/click.html"
			| ⚙ clicking the "#button1" element.
			| <br>
			| 0 passing