extend ../../layouts/nested-2
block main
	h2.flex-title closeTab()
	p
		| The <code>closeTab()</code> method maps directly to
		| <a href="http://webdriver.io/api/window/close.html">close() method</a> on WebdriverIO. This method
		| takes an <code>"focusIndex"</code> key to know which tab to focus on after it closes the current tab. Your
		| original window always has a value of <code>0</code>.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/closeTab.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "newWindow",
			|     "text": "http://google.com" // when opening a new window, the current tab index becomes 1
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|	    "action": "closeTab",
			|     "focusIndex": 0
			|   }
			| });
	p And this is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:execute --url=http://datadriver.io
			| Running "datadriver:execute" (datadriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/closeTab.html"
			| ⚙ opening a new tab to the url: http://google.com
			| ⚙ closing the current tab and focusing on tab index: 0
			| 0 passing