extend ../../layouts/nested-2
block main
	h2.flex-title closeTab()
	p
		| The <code>closeTab()</code> method maps directly to
		| <a href="http://webdriver.io/api/window/close.html">close() method</a> on WebdriverIO. This method
		| takes an <code>"index"</code> key to know which tab to close. Your original window always has a value of
		| <code>0</code>.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/closeTab.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "newWindow",
			|     "text": "http://google.com"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "switchTab",
			|     "index": 0
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|	    "action": "closeTab",
			|     "index": 1
			|   }
			| });
	p And this is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/closeTab.html"
			| ⚙ opening a new tab to the url: http://google.com
			| ⚙ retrieving tab list
			| ⚙ current tab has been switched to selected index
			| ⚙ retrieving tab list
			| ⚙ current tab has been closed
			| 0 passing