extend ../../layouts/nested-2
block main
	h2.flex-title eval()
	p
		| The <code>eval()</code> method maps directly to <a href="http://webdriver.io/api/cookie/deleteCookie.html">
		| eval() method</a> on WebdriverIO. The action lets you execute a snippet of Javascript in the test browser.
		| Here's how you can use this action:
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/eval.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "eval",
			|     "script": "return 2 + 2;"
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:execute --url=http://datadriver.io
			| Running "datadriver:execute" (datadriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/eval.html"
			| ⚙ executing javascript "return 2 + 2;"
			| <br>
			| 0 passing