extend ../../layouts/nested-2
block main
	h2.flex-title moveTo()
	p
		| The <code>moveTo()</code> method maps directly to <a href="http://webdriver.io/api/protocol/moveTo.html">
		| moveTo() method</a> on WebdriverIO. This action allows you to move the mouse to an offset of the currently
		| selected element. A good use case would be to use <code>buttonDown</code>, <code>moveTo</code> and
		| <code>buttonUp</code> to test a UI element like a slider.
	.element-area
		a#button1.button Hi!
		pre.language-markup.line-numbers
			code
				| &lt;a id="button1" class="button"&gt;Hi!&lt;/a&gt;
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/moveTo.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "selector": "#button1",
			|   "execute": {
			|     "action": "moveTo",
			|     "x": 100,
			|     "y": 0
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:execute --url=http://datadriver.io
			| Running "datadriver:execute" (datadriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/moveTo.html"
			| ⚙ moving the mouse to new coordinates.
			| <br>
			| 0 passing