extend ../../layouts/nested-2
block main
	h2.flex-title newWindow()
	p
		| The <code>newWindow()</code> method maps directly to <a href="http://webdriver.io/api/window/newWindow.html">
		| newWindow() method</a> on WebdriverIO. This action allows you to open a new browser window (probably in the form
		| of a tab) to the url of your choice.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/newWindow.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "newWindow",
			|     "url": "http://google.com",
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/newWindow.html"
			| ⚙ opening a new tab to the url: "http://google.com"
			| <br>
			| 0 passing