extend ../../layouts/nested-2
block main
	h2.flex-title pause()
	p
		| The <code>pause()</code> method maps directly to <a href="http://webdriver.io/api/utility/pause.html">
		| pause() method</a> on WebdriverIO. This action allows you to wait a specified amount of time before moving on
		| to the next action.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/pause.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "pause",
			|     "time": 5000 // 5 seconds
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/pause.html"
			| ⚙ pausing on "window" for 5000 milliseconds.
			| <br>
			| 0 passing