extend ../../layouts/nested-2
block main
	h2.flex-title redirect()
	p
		| The <code>redirect()</code> method maps directly to <a href="http://webdriver.io/api/protocol/url.html">
		| url() method</a> on WebdriverIO. This action allows you to affect a change to the browser url.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/redirect.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "http://google.com"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/redirect.html" // urls without a protocol go back to your base url.
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:execute --url=http://datadriver.io
			| Running "datadriver:execute" (datadriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/redirect.html"
			| ⚙ redirecting to "http://google.com"
			| ⚙ redirecting to "http://datadriver.io/api/execute/redirect.html"
			| <br>
			| 0 passing