extend ../../layouts/nested-2
block main
	h2.flex-title sendKeyStroke()
	p
		| The <code>sendKeyStroke()</code> method maps directly to <a href="http://webdriver.io/api/protocol/keys.html">
		| keys() method</a> on WebdriverIO. This action allows you to send a sequence of keystrokes to the active element,
		| including specialty keys like <code>Left Arrow</code> or <code>Backspace</code>. A list of the supported keys are
		| <a href="https://code.google.com/p/selenium/wiki/JsonWireProtocol#/session/:sessionId/element/:id/value">here</a>.
	.element-area
		input(type="text", id="text1")
		pre.language-markup.line-numbers
			code
				| &lt;input type="text" id="text1" /&gt;
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/sendKeystroke.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "selector": "#text1",
			|   "execute": {
			|     "action": "type",
			|     "text": "test"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "selector": "#text1",
			|   "execute": {
			|     "action": "sendKeystroke",
			|     "keystrokes": "Equals"
			|   }
			| });
	p And here is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/sendKeystroke.html"
			| ⚙ executing "setValue" on "#text1".
			| ⚙ sending keystroke(s) Equals
			| <br>
			| 0 passing