extend ../../layouts/nested-2
block main
	h2.flex-title setCookie()
	p
		| The <code>setCookie()</code> method maps directly to
		| <a href="http://webdriver.io/api/cookie/setCookie.html">setCookie() method</a> on WebdriverIO. Let's see
		| how we would set a cookie called <code>docCookie</code> with a value of <code>"true"</code> (must be a string).
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/setCookie.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "setCookie",
			|     "name": "docCookie",
			|     "value": "true"
			|   }
			| });
	p And this is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt webdriver:execute --url=http://datadriver.io
			| Running "webdriver:execute" (webdriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/setCookie.html"
			| ⚙ setting a cookie with name: "docCookie" and value: "true"
			| 0 passing