extend ../../layouts/nested-2
block main
	h2.flex-title switchTab()
	p
		| The <code>switchTab()</code> method maps directly to
		| <a href="http://webdriver.io/api/window/switchTab.html">switchTab() method</a> on WebdriverIO. This method
		| takes an <code>"focusIndex"</code> key to know which tab to switch to. Your original window always has a value of
		| <code>0</code>.
	pre.language-javascript.line-numbers
		code
			| 'use strict';
			| <br>
			| var drive = require('datadriver');
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "redirect",
			|     "page": "api/execute/switchTab.html"
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "newWindow",
			|     "text": "http://google.com" // new window introduces a new tab index of 1
			|   }
			| });
			| <br>
			| drive.execute({
			|   "execute": {
			|     "action": "switchTab",
			|     "focusIndex": 0 // switching back to our original window
			|   }
			| });
	p And this is our expected output:
	pre.language-bash.line-numbers
		code
			| $ grunt datadriver:execute --url=http://datadriver.io
			| Running "datadriver:execute" (datadriver) task
			| <br>
			| ⚙ redirecting to "http://datadriver.io/api/execute/switchTab.html"
			| ⚙ opening a new tab to the url: "http://google.com"
			| ⚙ closing the current tab and focusing on tab index: 0
			| 0 passing